.gradle/
build/

.classpath
.project

application-secret.yml
application-secret.properties
application-local.yml
application-local.properties

HELP.md

*.h2.db
.h2.server.properties

coverage/
jacoco/
.sonar/

.gradle-user-home/